.nav-menu {
    width: 20%;
    position: fixed;
    bottom: 15px;
    border-radius: 18px;
    left: 40%;
    background-color: #222264;
}

.nav-menu ul {
    display: flex;
    padding: 8px;
    gap: 16px;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-icon {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.nav-icon i {
    font-size: 22px;
    color: white;
}

.nav-icon:hover {
    background: white;
    color: #6e58ff;
}

.nav-icon:hover i {
    color: #6e58ff;
}

@media (max-width:1000px) {
    .nav-menu {
        width: 33%;
    }
    .nav-menu ul {
        gap: 12px;
    }
    .nav-icon i {
        font-size: 20px;
    }
}

@media (max-width:450px) {
    .nav-menu {
        width: 80%;
        left: 10%;
    }
}